
.film-card {
    border-radius: 12px;
    text-decoration: none;
    margin-bottom: 20px;
   
}

.poster-box {
    overflow: hidden;
    border-radius: 10px;
    border-radius: 12px 12px 0 0;
}

.poster-box img {
   
    height: 100%;
    object-fit: cover; 
}

.poster {
    border-radius: 12px 12px 0 0;
}
.info-film-box {
    background: #1A1A1A;
    border-radius:0 0 12px 12px;
    padding-left: 10px;
}
.info-film-box span {
    display: inline-block;
    margin-bottom: 5px;
}
.info-film-box h3 {
    padding-top: 5px;
}