@import url("header-style.css");
@import url("general-style.css");


/* CARTES FILMS INDEX & SEARCH */
.film-card {
    border-radius: 12px;
    text-decoration: none;
    margin-bottom: 20px;
     
}

.poster-box {
    overflow: hidden;
    
    border-radius: 12px 12px 0 0;
    min-height: 250px;
}

.poster-box img {
    height: 100%;
    object-fit: cover; 
}

.poster {
    border-radius: 12px 12px 0 0;
    width: 100% !important;
    display: block !important;
}

.no-poster {
    display: flex;
    justify-content: center;
}

.no-poster a {
    text-decoration: none;
}

.empty {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.info-film-box {
    background: #1A1A1A;
    border-radius:0 0 12px 12px;
    padding-left: 10px;
    color: #888888;
    text-decoration: none;
}

.date-status-box {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 0.85rem;
    padding-right: 5px;
    padding-bottom: 5px;
}

.date-add-box {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 0.85rem;
    padding-right: 5px;
    padding-bottom: 5px;
    text-decoration: none;
}

.date-add-box a {
    text-decoration: none;
}

h3 {
    color: white;
    padding-top: 3px;
    text-decoration: none;
}
.categories {
    display:flex;
    align-items: center;
    gap:10px;
    margin-bottom:25px;
    margin-top: 12px;
    overflow-x:auto;
    white-space: nowrap;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(80, 80, 80, 0.5);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(100, 100, 100, 0.7);
}

.category {
    border:1.5px solid #E94560;
    padding:6px 14px;
    border-radius:30px;
    color: #E94560;
    text-decoration:none;
    font-size:0.8rem;
    font-weight:bold;
    transition:0.3s;
  
}

.category:hover {
    background:#E94560;
    color:white;
}

.film-grid {
    display: grid; 
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0 15px;
}

/* TABLETTE */
@media (min-width: 480px) {

.film-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 0 20px;
}

.categories {
    justify-content: center;
    flex-wrap: wrap;
    white-space: normal;
}

.empty {
    grid-column: span 2;
}
}

/* DESKTOP */
@media (min-width: 768px) {
.film-grid {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 30px;
}


.film-card:hover {
    transform: scale(1.03);
    transition: 0.3s;
}

.empty {
    
    grid-column: 1/-1 ;
}

}