@import url("header-style.css");
@import url("general-style.css");
@import url("film-card.css");


.categories {
    display:flex;
    align-items: center;
    gap:10px;
    margin-bottom:25px;
    margin-top: 12px;
    overflow-x:auto;
    white-space: nowrap;
    
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(80, 80, 80, 0.5);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(100, 100, 100, 0.7);
}

.category {
    border:1.5px solid #E94560;
    padding:6px 14px;
    border-radius:30px;
    color: #E94560;
    text-decoration:none;
    font-size:0.8rem;
    font-weight:bold;
    transition:0.3s;
  
}

.category:hover {
    background:#E94560;
    color:white;
}

.empty {
    display: flex;
    justify-content: center;
}

.film-grid {
        display: grid; 
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 0 15px;
}
.film-card {
    width: 100% !important;
    max-width: 100% !important;
}

.poster {
    width: 100% !important;
    height: auto !important;
    display: block !important;
}


/* TABLETTE */
@media (min-width: 480px) {

.film-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 0 20px;
    }

.categories {
    justify-content: center;
    flex-wrap: wrap;
    white-space: normal;
    }

    .empty {
    display: flex;
    justify-content: center;
    grid-column: span 2;
    }
}

/* DESKTOP */
@media (min-width: 768px) {
.film-grid {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 30px;
    }

.categories {
    justify-content: flex;
    }

.film-card:hover {
    transform: scale(1.03);
    transition: 0.3s;
    }

    .empty {
    display: flex;
    justify-content: center;
    grid-column: 1/-1 ;
    }
}
